.about-section{
    padding:10.6rem 0 10.8rem;
    .about-image{
        img{
            width:100%;
            display: block;
        }
    }
    .about-data{
        h2{
            margin-bottom: 2.6rem;
        }
    }
}
